.outer {
  position: fixed;
  display: flex;
    justify-content: left;
    flex-direction: row;
    left: 1%;
}

div.A {
  height: 150px ;
  width: 100px ;
  background: yellow;
  border-left-width:10px;  
  border-left-style:dotted;
  border-left-color: #D0D0FF;
  position: relative;
  left: 10px;
  top: 1px;
}

div.C {
  height: 150px ;
  width: 110px ;
  background: #eeeff2;
  border-left-width:10px;  
  border-left-style:dotted;
  border-left-color: #D0D0FF;
  position: relative;
  left: 30px;
  top: 1px;
}

div.B {
  height: 150px ;
  width: 110px ;
  background: #eeeff2;
  border-left-width:10px;  
  border-left-style:dotted;
  border-left-color: #D0D0FF;
  position: relative;
  left: 20px;
  top: 1px;
}

div.D {
  height: 150px ;
  width: 110px ;
  background: #eeeff2;
  border-left-width:10px;  
  border-left-style:dotted;
  border-left-color: #D0D0FF;
  position: relative;
  left: 40px;
  top: 1px;
}

div.E {
  height: 150px ;
  width: 110px ;
  background: #eeeff2;
  border-left-width:10px;  
  border-left-style:dotted;
  border-left-color: #D0D0FF;
  position: relative;
  left: 50px;
  top: 1px;
}

div.F {
  height: 150px ;
  width: 110px ;
  background: #eeeff2;
  border-left-width:10px;  
  border-left-style:dotted;
  border-left-color: #D0D0FF;
  position: fixed;
  right: 1px;
  bottom: 1px;
}

div.B:hover{
  background-color: yellow;
  cursor: pointer;
}

p {
  font-size: 40px;
  position: relative;
  top: -20px;
  left:10px;
  font-family: Tahoma;
}

p.A {
  color: #f1be57;
}


